<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="nav navbar-nav">
      <% if user_signed_in? %><li class="navbar-brand topnav"><%= current_user.first_name%>,&nbspwelcome to&nbsp</li><li class="navbar-brand"><h4><%= link_to "FMI", root_path, :id => "fmibrand" %></h4></li><% else %><li class="navbar-brand topnav"><h4><%= link_to "FMI", root_path, :id => "fmibrand" %></h4></li><%end%>
      </ul>
          </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                
                     <% if user_signed_in? %>
                        <%= render 'layouts/navigation_links' %>
                    <% else %>
                        <li><%= link_to "Sign In", new_user_session_path %></li>
                        <li><%= link_to "Sign Up", new_user_registration_path %></li>
                    <% end %>
                
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    </div>
    <!-- /.container -->
</nav>


<!-- Carousel
    ================================================== -->
    
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
            <%= image_tag "carou1.jpg", class: "first_slide" %>
          
          <div class="container">
            <div class="carousel-caption">
              <h1>Financial Market Issues</h1>
              <p>Live lists identifying the key issues for financial markets.  Including macroeconomic and Political Issues.</p>
              <p><%= link_to "Sign up Today", new_user_registration_path, class: "btn btn-lg btn-primary", role: "button"%></p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag "carou2.jpg", class: "first_slide" %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Financial Market Issues</h1>
              <p>Sectoral and broader thematic issues.  Access is free, allowing you to view lists and comment on list items.</p>
              <p><%= link_to "Sign up Today", new_user_registration_path, class: "btn btn-lg btn-primary", role: "button"%></p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag "carou3.jpg", class: "first_slide" %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Financial Market Issues</h1>
              <p>Company level issue lists allow investors to rapidly identify the market moving information they should be monitoring.</p>
              <p><%= link_to "Sign up Today", new_user_registration_path, class: "btn btn-lg btn-primary", role: "button"%></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    </br>
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
        <%= image_tag "circle1.jpg", class: "img-circle", alt: "Generic placeholder image", style: "width: 140px; height: 140px;" %>
          
          <h2>Free Access</h2>
          <p>View lists of the hottest issues for markets and stocks.  The ability to vote on the importance of issues and make commets on issues are included in your access.</p>
          <p><%= link_to "Sign up Today", new_user_registration_path, class: "btn btn btn-default", role: "button"%></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag "circle2.jpg", class: "img-circle", alt: "Generic placeholder image", style: "width: 140px; height: 140px;" %>
          <h2>Upgrade your account to make requests</h2>
          <p>With a VIP account you can request that our bank of analysts look at any company, sector, theme and asset to generate all of the important issues.  </p>
          <p><%= link_to "Sign up Today", new_user_registration_path, class: "btn btn btn-default", role: "button"%></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag "circle3.jpg", class: "img-circle", alt: "Generic placeholder image", style: "width: 140px; height: 140px;" %>
          <h2>Wisdon of the crowd</h2>
          <p>Benefit from the importance that the crown places on any individual issue.</p>
          <p><%= link_to "Sign up Today", new_user_registration_path, class: "btn btn btn-default", role: "button"%></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Lists cover all kinds of areas, such as: <span class="text-muted"><%= @issueran.fetch(0) %></span></h2>
          <p class="lead">An example list item: <%= @issuetitle.fetch(0) %></p>
        </div>
        <div class="col-md-5">
          <%= image_tag @issueimage.fetch(0), class: "featurette-image img-responsive center-block", alt: "Generic placeholder image" %>
          
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">We also have a list covering: <span class="text-muted"><%= @issueran.fetch(1) %></span></h2>
          <p class="lead">An example list item: <%= @issuetitle.fetch(1) %></p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <%= image_tag @issueimage.fetch(1), class: "featurette-image img-responsive center-block", alt: "Generic placeholder image" %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And as a final example, this one. <span class="text-muted"><%= @issueran.fetch(2) %></span></h2>
          <p class="lead">An example list item: <%= @issuetitle.fetch(2) %></p>
        </div>
        <div class="col-md-5">
          <%= image_tag @issueimage.fetch(2), class: "featurette-image img-responsive center-block", alt: "Generic placeholder image" %>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
<!-- Header -->

<!-- /.intro-header -->

<!-- Page Content -->



<!-- /.content-section-a -->


<!-- /.content-section-a -->

<a  name="contact"></a>
<div class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h2>Connect with LR Research</h2>
            </div>
            <div class="col-lg-6">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/mark_emerging" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    
                    <li>
                        <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

<!-- /.banner -->

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="http://www.lr-research.com">About LR Research</a>
                    </li>
                    
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="mailto:info@lrisuk.com">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; LR Capital Ltd 2017. All Rights Reserved</p>

            </div>
        </div>
    </div>
</footer>
