<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="nav navbar-nav">
      <% if user_signed_in? %><li class="navbar-brand topnav"><%= current_user.name%>,&nbspwelcome to&nbsp</li><li class="navbar-brand"><h4><%= link_to "FMI", root_path, :id => "fmibrand" %></h4></li><% else %><li><h4><%= link_to "FMI", root_path %></h4></li><%end%>
      </ul>
          </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                
                     <% if user_signed_in? %>
                        <%= render 'layouts/navigation_links' %>
                    <% else %>
                        <li><%= link_to "Sign In", new_user_session_path %></li>
                        <li><%= link_to "Sign Up", new_user_registration_path %></li>
                    <% end %>
                
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    </div>
    <!-- /.container -->
</nav>

<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Financial Market Issues</h1>
                    <h3>Live investment issues by LR Research</h3>
                    <hr class="intro-divider">
                    
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->


<a  name="services"></a>
<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">We curate lists of current investment issues across all geographies and asset classes. <br><br>  Example of a list category:<br><br><% @issue1.each do |i| %><%= i.issuecatname %><% end%> </h2>
                <p class="lead">Example Archived lissue from the list:<br><% @archive1.each do |a| %><%= a.issuetitle %><% end %></p> 
            </div>
           
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">We are currently building content through our community of respected contributors. <br><br>  Current list categories include:<br><br><% @issue2.each do |i| %><%= i.issuecatname %><% end%></h2>
                <p class="lead">Example Archived lissue from the list:<br><% @archive2.each do |a| %><%= a.issuetitle %><% end %></p>
            </div>
            
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Membership is free and includes access to lists, voting and making comments on issues in each list.  As we grow we will be adding new and exciting features. <br><br> Another Example of a category list<br><br><% @issue3.each do |i| %><%= i.issuecatname %><% end%></h2>
                <p class="lead">Example Archived lissue from the list:<br><% @archive3.each do |a| %><%= a.issuetitle %><% end %></p>
            </div>
            
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<a  name="contact"></a>
<div class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h2>Connect with LR Research</h2>
            </div>
            <div class="col-lg-6">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/mark_emerging" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    
                    <li>
                        <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

<!-- /.banner -->

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="http://www.lr-research.com">About LR Research</a>
                    </li>
                    
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; LR Capital Ltd 2016. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
