<script type="text/javascript">
$(document).ready(function() {

  $("#issue_subcategory").select2({
    theme: "bootstrap"
});
  $("#issue_category").select2({
    theme: "bootstrap"
});
  $("#issue_issuecat_ids").select2({
    theme: "bootstrap"
});
});

</script>
<div class="newopen" >
<h2></h2>
<h2>New Issue</h2>


<%= simple_form_for @issue do |f| %>
	<%= f.input :category, label: false, collection: @category, value_method: :id, label_method: :issuecatname, label: false, prompt: "Main category" %>
	<%= f.input :subcategory, label: false, collection: @subcat, value_method: :id, label_method: :issuecatname, label: false, prompt: "Sub category" %>


  <%= f.input :issuetitle, label: false, placeholder: "Title" %>


  <%= f.input :issuedescription, label: false, placeholder: "description" %>

  <%= f.input :issueofficialview, label: false, placeholder: "official view" %>

  <%= f.input :issuechart, as: :file %>

  <%= f.input :officialoverride, label: "override?" %>
  <%= f.input :archive, label: "archive?" %>

 <%= f.association :issuecats, label_method: :issuecatname, value_method: :id, include_blank: false,collection: @subcatex, input_html: { class: 'multiselectuser'},label: "Select all other categories that apply" %>

  <%= f.button :submit, 'Edit issue' %>

<% end %>

</div>