<div class="newsingle">
<div class="CSSTableGenerator">

<table>
<tr><td>No.</td><td>&nbspTitle</td><td>Has Image?</td><td>Categories</td><td>Archived</td></tr>
<% @issue.each do |issue| %>
<tr>
<td><%=issue.id%></td>
<td>

<%= link_to issue.issuetitle, issue_path(issue) %>
</td>
<td>
<%= issue.issuechart_file_name?%>
</td>
<td><% @issuecats = issue.issuecats %><% @issuecats.each_with_index do |issuecat, index| %><%= link_to issuecat.issuecatname, issuecat_path(issuecat.id)%><% if index == @issuecats.size-1 %><% else %>,&nbsp<% end %><% end %></td>

<td><%= issue.archive %></td>
</tr>
<% end %>
</table>
</div>
</div>
