<div class="newsingle">
	<div class="issue">
	<h6 id="linkbackissues"><b><%= link_to "BACK TO LIST", issuecat_path(@issue.subcategory) %> </br><% if current_user.admin? %>

			<%= link_to "Edit Issue", edit_issue_path(params[:id]) %>&nbsp
			<%= link_to "Add Sources", new_issue_source_path(params[:id]) %>&nbsp
  <% else %>
  <% end %></h6>
  <h3><%= @issue.issuetitle %></h3>
  <h6><i><%= @issue.issuedescription %></i></h6>
  <h5>OUR VIEW</h5><h6><%= @issue.issueofficialview %></h6></br>
  <% if @issue.issuechart.exists? %><div class="framed"><div class="landscape"><%= image_tag @issue.issuechart.url %></div></br><sub><i>&nbspSource: <%=@issue.imsource %></i></sub></div><% else %><% end %>
  </div>
  <div class="supplemental">
  <div class="CSSTableGenerator">
  <table>
  
			<tr><td>Category</td><td>Your last assessment</td><td>Community Votes</td><td>Important</td><td>Unimportant</td><td>Vote or change your vote</td></tr>
			<% @issuecats = @issue.issuecats %><% @issuecats.each_with_index do |issuecat, index| %><tr><td><%= link_to issuecat.issuecatname, issuecat_path(issuecat.id)%></td>

			<% @votedu = Vote.where("issue_id = ? AND user_id = ? AND subcategory_id =?", @issue.id, current_user.id, issuecat.id).order("created_at") %>
				<% @voted = Vote.where("issue_id = ? AND subcategory_id = ?", @issue.id, issuecat.id) %>
				<% @votedimport = @voted.where("direction = ?", true) %>
				<% @shareimport = @votedimport.size.to_f / @voted.size.to_f %>
				<% @votedunimport = @voted.where("direction = ?", false) %>
				<% @shareunimport = @votedunimport.size.to_f / @voted.size.to_f %>
				<% @votecheck = Vote.where("issue_id =?  AND user_id = ? AND subcategory_id = ?", @issue.id, current_user.id, issuecat.id) %>
				<% @maxup = Vote.where("issue_id = ? AND user_id = ? AND direction = ? AND subcategory_id = ?", @issue.id, current_user.id, true, issuecat.id) %>
				<% @maxdown = Vote.where("issue_id = ? AND user_id = ? AND direction = ? AND subcategory_id = ?", @issue.id, current_user.id, false, issuecat.id) %>
				<% if @votecheck.blank? %><%else%><% @lastvote = @votedu.last.direction %><% end %>
  
  		

			
			
			<td>
				<%if @votedu.size > 0 %>
			<% @lastv = @votedu.last.direction %><% if @lastv == true %>&nbspImportant<% else %>&nbspUnimportant<% end%>
			<% else %>
				No vote
			<% end %>
			</td>
			<td>
			<%= pluralize(@voted.size, 'vote') %>
			</td>
			
				<% if @voted.size == 0 %><td></td><td></td><%else%><td><%= sprintf("%0.01f",@shareimport*100) %>%<td><%= sprintf("%0.01f",@shareunimport*100) %>%</td><%end%>

			<td><% if @votedu.blank? %>
  		
  				<%= link_to "Important", issue_votes_path(@issue.id, :dir => "1", :cat => issuecat.id, :iss => @issue.id), method: :post %>&nbsp/	<%= link_to "Unimportant", issue_votes_path(@issue.id, :dir => "0", :cat => issuecat.id, :iss => @issue.id), method: :post %>
  				<% elsif @lastvote == false %>
							<% if @maxup.size < 2 %>
								<%= link_to "Important", issue_votes_path(@issue.id, :dir => "1", :cat => issuecat.id, :iss => @issue.id), method: :post %>
							<% else %>
								-
							<% end %>
					<% else %>
							<% if @maxdown.size < 2 %>
							   <%= link_to "Unimportant", issue_votes_path(@issue.id, :dir => "0", :cat => issuecat.id, :iss => @issue.id), method: :post %>
							<% else %>
								-
							<% end %>		   			
					<%  end %>
					</td>
			</tr><% end %>
			</table>
			</div>
			</div>
			<div class="sources">
			<h5>SOURCED NEWS STORIES OR DOCUMENTS</h5>
			<div class="CSSTableGenerator">
			<table>
			<tr>
			<td>Link</td>
			<td>Description</td>
			<td>Quality</td>
			<td>Other Categories</td>
			</tr>
			<% @sources.each do |source| %>
			<tr>
			<td><%= link_to "External Source", source.sourceurl, target: '_blank' %></td>
			<td><%= source.extradescription %></td>
			<td><%= source.qualityofsource %></td>
			<td><% @issuecats = source.issuecats %><% @issuecats.each do |issuecat| %><%= link_to issuecat.issuecatname, issuecat_path(issuecat.id)%><% end %></td>
			</tr>
			
			<% end %>
			</table>

			</div>
			</div>
			<div class="addcomment">
			<div class="addcomment1">

			<%= render "comments/new" %>
			</div>
			</div>
				<h5>All Commments</h5>
				<% @comments.each do |comment| %>
					<div class="commentary">
					<h5><%= comment.commentbody %></h5>
					</div>
					<div class="authorship">
					<h6>Author&nbsp:&nbsp<%= User.find(comment.user_id).name %>&nbsp

					Created&nbsp:&nbsp<%= comment.created_at.to_formatted_s(:short) %></h6>
					</div>

				<% end %>
			
				
</div>