<div class="newindex">
<h3>Account Details</h3>
<table class="recentissues">
<tr>
<td>First Name</td><td> <%= @user.first_name if @user.first_name %></td>
</tr>
<tr>
<td>Last Name</td><td> <%= @user.last_name if @user.last_name %></td>
</tr>
<tr>
<td>Name for comments</td><td> <%= @user.commentname if @user.commentname %></td>
</tr>
<tr>
<td>Email </td><td><%= @user.email if @user.email %></td>
</tr>
<tr>
<td>Company</td><td><%= @user.company %></td>
</tr>

<tr>
<td>Your status</td><td> <%= @user.role %></td>
</tr>
</table>
<p><%= link_to "Edit Account", edit_user_registration_path, class: "btn btn-lg btn-success", role: "button"%></p>
</div>
