<script type="text/javascript">
$(document).ready(function() {

  $("#request_subcategory_id").select2({
    theme: "bootstrap"
});
  $("#request_category_id").select2({
    theme: "bootstrap"
});
  
});

</script>

<div class="newsingle" >
   <h3>Enter a new request</h3>

   <%= simple_form_for @request do |f| %>
   <%= f.input :category_id, collection: @category, value_method: :id, label_method: :issuecatname, label: false, prompt: "Main category" %>
	<%= f.input :subcategory_id, collection: @subcat, value_method: :id, label_method: :issuecatname, label: false, prompt: "Sub category", disabled: true %>
	<%= f.input :newsubcategory, label: "Use a new subcategory",placeholder: "Use if there is no appropriate subcategory above" %>
	<%= f.input :requestdesc, label: "Request Detail", placeholder: "Include as much detail as possible and links to any web sources mentioned" %>
	<%= f.input :support, as: :file, label: "Add a supporting pdf" %>

	<%= f.button :submit, 'Add new request' %>

<% end %>



</div>