<script type="text/javascript">
$(document).ready(function() {
	$(".dropdown").hide();
	$(".button").click(function(){
		var list  = $(this).attr('id');
    $("#sub" + list ).slideToggle();
});
});
</script>
<div class="newindex">

<h2>Current Issue Lists</h2></br>
<% @lists.each do |list| %>
<div class="button" id="<%=list.id %>"><h3 class="listhead" onmouseover="" style="cursor: pointer;">&nbsp&nbsp&nbsp<%= list.issuecatname %>&nbsp<small><%= image_tag "Arrow.svg", class: "arrow" %></small></h3></div>
<div class="dropdown" id="sub<%=list.id %>">
<% @subcats.each do |sub| %>
<% if sub.maincat_id == list.id %>



<h4><%= link_to sub.issuecatname, issuecat_path(sub) %></h4>
<% else %><% end %>

<% end %>
</div>
<% end %>

</div>