<div class="newsingle" >
<h2></h2>
<h2>New Category</h2>


<%= simple_form_for @issuecat do |f| %>
	<%= f.input :issuecatname, label: false, placeholder: "Name of Category" %>

  <%= f.input :issubcat, label: "Is this a sub category?" %>

  <%= f.input :maincat_id, label: false, collection: @maincats, value_method: :id, label_method: :issuecatname, label: false, prompt: "Main category (only use if subcategory ticked above)" %>


  <%= f.button :submit, 'Add new category' %>

<% end %>
</div>