<script type="text/javascript">

$(document).ready(function() {
  // Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
};

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
};

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
};
	var pagerOptions2 = {

    // target the pager markup - see the HTML block below
    container: $(".pager2")
  };
	var pagerOptions1 = {

    // target the pager markup - see the HTML block below
    container: $(".pager1")
  };
	$("#sortissues thead th:eq(5)").data("sorter", false);
  	$("#sortissues thead th:eq(6)").data("sorter", false);
  	$("#sortissues thead th:eq(7)").data("sorter", false);
  	$("#sortissues thead th:eq(8)").data("sorter", false);
  	$("#sortissues thead th:eq(5)").data("filter", false);
  	$("#sortissues thead th:eq(6)").data("filter", false);
  	$("#archiveisssort thead th:eq(1)").data("sorter", false);
  	$("#archiveisssort thead th:eq(2)").data("sorter", false);
  	$("#sortissues thead th:eq(7)").data("filter", false);
  	$("#sortissues thead th:eq(1)").data("filter", false);
  	$("#sortissues thead th:eq(2)").data("filter", false);
  	$("#sortissues thead th:eq(3)").data("filter", false);
  	$("#sortissues thead th:eq(4)").data("filter", false);
  	$("#sortissues")
      .tablesorter({ 
  			sortList: [[4,1]],
        widgets: ["zebra", "filter", "resizable"]
         
		    
    })
      .tablesorterPager(pagerOptions1);
    
    
  	$("#archiveisssort")
  	.tablesorter({ 
  			sortList: [[0,1]]

  	})
  	.tablesorterPager(pagerOptions2);
});
</script>	

<div class="newsingle">
<h6 id="linkbackissues"><%= link_to "ALL LISTS", issuecats_path %></h6>
<h3><%= @category.issuecatname %>&nbsp:&nbsp<%= @subcat.issuecatname %></h3>
<br>
<h4>Live Issues</h4>
<!-- Trigger/Open The Modal -->
<div class="explain">
<button id="myBtn">Learn More</button>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>CF table headings indicate the impact of the issue on the timing magnitude and certainty of future cash flows.</p>
    <p>Voting areas collate all of the community votes on an issue and capture your latest vote.  You can change your vote up to three times.  The tick and cross in the final column allow you to vote.</p>
    <p>You can click the heading on each column to sort</p>
  </div>

</div>
<br>
<div class="largetable">
<table id="sortissues" class="tablesorter tablesorter-dropbox" role="grid">
<thead>
<tr>
<th>Issue</th>
<th>CF Timing</th>
<th>CF Magnitude</th>
<th>CF Certainty</th>
<th>All Votes</th>
<th>Impt</th>
<th>Unimpt</th>
<th>rank</th>
<th>Your Vote</th>
<th>Vote or alter</th>
<th>Comments</th>
<th>List Membership</th>
</tr>
</thead>
<tfoot>
<tr>
<th>Issue</th>
<th>CF Timing</th>
<th>CF Magnitude</th>
<th>CF Certainty</th>
<th>All Votes</th>
<th>Impt</th>
<th>Unimpt</th>
<th>rank</th>
<th>You</th>
<th>Alter</th>
<th>Comments</th>
<th>List Membership</th>
</tr>
<tr class="dark-row">
      <th colspan="9">
        <div class="pager1">
          <button type="button" class="first"><<</button>
          <button type="button" class="prev"><</button>
          <span class="pagedisplay"></span>
          <button type="button" class="next">></button>
          <button type="button" class="last">>></button>
          <select class="pagesize" title="Select page size">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
          </select>
          <select class="gotoPage" title="Select page number"></select>
        </div>
      </th>
    </tr>
</tfoot>
<tbody>

<% @issues.each do |issue| %>

<% if issue.archive %>
<% elsif issue.draft || issue.draft.nil? %>
<% @assessment = @assessments.where("issue_id=?", issue.id) %>
<tr>

<td><%= link_to issue.issuetitle, issue_path(issue)%></td>
<% if @assessment.blank? %>
<td></td><td></td><td></td>
<% else %>
<% @assessment.each do |ass| %>
<td><%= ass.timing %></td><td><%= ass.magnitude %></td><td><%= ass.certainty %></td>
<% end %>
<% end %>

				<% @votedu = Vote.where("issue_id = ? AND user_id = ? AND subcategory_id = ?", issue.id, current_user.id, @subcat.id).order("created_at") %>

				
				<% @newvoted = Vote.where("issue_id = ? AND subcategory_id = ?", issue.id, @subcat.id).group(:id, :user_id).having("created_at = MAX(created_at)") %>
				
				<% @nv = 0 %>	<% @nn = 0 %><% @np = 0%>
			<% @newvoted.each do |newvote| %><% @nv = @nv + 1 %><% if newvote.direction == false %><% @nn = @nn + 1 %><% else %><% @np = @np + 1 %><% end %><% end %>

				

				<% @shareimport = @np.to_f / @nv.to_f %>

				

				<% @shareunimport = @nn.to_f / @nv.to_f %>

				<% @votecheck = Vote.where("issue_id =?  AND user_id = ? AND subcategory_id = ?", issue.id, current_user.id, @subcat.id) %>

				<% @maxup = Vote.where("issue_id = ? AND user_id = ? AND direction = ? AND subcategory_id = ?", issue.id, current_user.id, true, @subcat.id) %>

				<% @maxdown = Vote.where("issue_id = ? AND user_id = ? AND direction = ? AND subcategory_id = ?", issue.id, current_user.id, false, @subcat.id) %>
				<% if @nv == 0 %><% @rank = 0 %><% else %><% @rank = ((@np + 1.9208) / (@np + @nn) - 1.96 * Math.sqrt((@np * @nn) / (@np + @nn) + 0.9604) / (@np + @nn)) / (1 + 3.8416 / (@np + @nn)) %><% end %>

				<% if @votecheck.blank? %><%else%><% @lastvote = @votedu.last.direction %><% end %>
				
				<td>
			
				<!--<%= pie_chart [["Important", @shareimport],[ "Unimportant", @shareunimport]], {library: {is3D: true, colors: ["green","red"], legend: 'none', width: '200', height: '200'}} %>-->
				<%= @nv %></td><% if @nv == 0 %><td></td><td></td><td></td><%else%><td><%= sprintf("%0.01f", @shareimport*100) %>%</td><td><%= sprintf("%0.01f", @shareunimport*100) %>%</td> <td><%= sprintf("%0.01f", @rank*100) %>% </td><% end %>
				<% if @votedu.blank?%>
				<td><%=Emoji.find_by_alias("question").raw%></td><td><%= link_to Emoji.find_by_alias("white_check_mark").raw, issue_votes_path(issue, :dir => "1", :cat => @subcat.id, :cate => @subcat), method: :post, class: "emojihov" %>&nbsp&nbsp/	<%= link_to Emoji.find_by_alias("x").raw, issue_votes_path(issue, :dir => "0", :cat => @subcat.id, :cate => @subcat), method: :post, class: "emojihov" %>&nbspfor&nbsp<%= @subcat.issuecatname %></td>
				<% else %>
					<td><% @lastv = @votedu.last.direction %><% if @lastv == true %><%=Emoji.find_by_alias("white_check_mark").raw%><% else %><%=Emoji.find_by_alias("x").raw%><% end%></td>
				
					<% if @lastvote == false %>
							<% if @maxup.size < 2 %>
								<td><%= link_to Emoji.find_by_alias("white_check_mark").raw, issue_votes_path(issue, :dir => "1", :cat => @subcat.id, :cate => @subcat), method: :post, class: "emojihov" %>&nbspfor&nbsp<%= @subcat.issuecatname %></td>
							<% else %>
							<td>-</td>
							<% end %>
					<% else %>
							<% if @maxdown.size < 2 %>
							   <td><%= link_to Emoji.find_by_alias("x").raw, issue_votes_path(issue, :dir => "0", :cat => @subcat.id, :cate => @subcat), method: :post, class: "emojihov" %>&nbspfor&nbsp<%= @subcat.issuecatname %></td>
							<% else %>
							<td>-</td>
							<% end %>		   			
					<%  end %>
				<% end %>	
				</td>
			
				<td><%= issue.comments.size %>	</td>
				<td><% @issuecats = issue.issuecats %><% @issuecats.each_with_index do |issuecat, index| %><%= link_to issuecat.issuecatname, issuecat_path(issuecat.id)%><% if index == @issuecats.size-1 %><% else %>,&nbsp<% end %><% end %></td>
				</tr>
			
			<% end %>
	
<% end %>
</tbody>
</table>
</div>
<div>

</div>
<p></p>
<h4>Archived Issues</h4>
<br>
<div class="largetable">

<table id= "archiveisssort" class="tablesorter tablesorter-dropbox">
<thead>
<tr>
<th>Issue</th>

<th>Comments</th>
<th>List membership</th>
<tfoot>
<tr class="dark-row">
      <th colspan="3">
        <div class="pager2">
          <button type="button" class="first"><<</button>
          <button type="button" class="prev"><</button>
          <span class="pagedisplay"></span>
          <button type="button" class="next">></button>
          <button type="button" class="last">>></button>
          <select class="pagesize" title="Select page size">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
          </select>
          <select class="gotoPage" title="Select page number"></select>
        </div>
      </th>
    </tr>
</tfoot>
</tr>

<tbody>
<% @issues.each do |issue| %>
<% if issue.archive %>

<tr>
<td><%= link_to issue.issuetitle, issue_path(issue.id)%></td>

				
				
			
				<td><%= link_to pluralize(issue.comments.size,'comment'), issue_path(issue) %>	</td>
				<td><% @issuecats = issue.issuecats %><% @issuecats.each_with_index do |issuecat, index| %><%= link_to issuecat.issuecatname, issuecat_path(issuecat.id)%><% if index == @issuecats.size-1 %><% else %>,&nbsp<% end %><% end %></td>
			</tr>
		<% else %>

			<% end %>
			
<% end %>
</tbody>
</table>
</div>
</div>