<!DOCTYPE html>

<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "GMF" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Global Market Factors" %>">
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <%= csrf_meta_tags %>
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <script type="text/javascript">
      window.setTimeout(function(){
        $(".alert-success").fadeTo(500, 0).slideUp(500, function(){
          $(this).remove();

        });
      }, 5000);
      window.setTimeout(function(){
        $(".alert-notice").fadeTo(500, 0).slideUp(500, function(){
          $(this).remove();
        
        });
      }, 5000);
      $( document ).ready(function() {

        // hide spinner
        $(".spinner").hide();


       });

      
    
      
    </script>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' unless current_page?(root_path) %>
    </header>
      <%= render 'layouts/messages' %>
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
      <%= yield %>
      
  </body>
</html>
